body {
    font-family: 'KitKatFont', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000; 
    color: #ffffff; 
}

header {
    background-image:linear-gradient(to right, #ba0018, #ba0018);
    background-size: contain;
    padding: 10px;
    color: #ffffff;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    max-width: 40px 
    margin-right: 10px;
    

.header-logo img:hover {
    transform: scale(1.1);

h1 {
    margin: 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

.candy-info {
    margin-bottom: 20px;
}

.candy-info h2, .candy-info p {
    color: #ebe2e2; 
}

.candy-images img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
}

.candy-images img:hover {
    transform: scale(1.1);
}

footer {
    background-image: url("C:\Users\niran\Downloads\css candy\kitkat background.jpg"); 
    background-size: cover;
    padding: 20px;
    text-align: center;
}

.footer-logo img {
    max-width: 100px; 
    transition: transform 1s ease-in-out; 
}

.footer-logo img:hover {
    transform: scale(5.5); 
}

.footer-info p {
    margin: 5px 0;
}